<div>
	<%= form_for @day, id: "day_#{@day.id}_form", remote: true do |f| %>
		<%= f.text_area :tasks, id: "day_#{@day.id}_text_area" %>
		<div class="actions">
			<p><%= f.submit "Update", id: "day_#{@day.id}_button" %></p>
		</div>
	<% end -%>
</div>