// Place all the styles related to the Days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.tasks {
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		margin: 10px 0px 10px 0px
	}	
}

.future {
	color: green;
}

.past {
	color: grey;
}

form > fieldset {
  border: none;
  border: solid 1px #CCC;
  padding: 10px 15px;
  margin: 15px 0;
  fieldset {
    border: none;
    margin: 0;
    margin: 10px 0;
    padding: 0;
  }
}

// styles for online rich text editor TinyMCE
